html
  head
    title Shifts
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='/css/shiftEntry.css', rel='stylesheet', type='text/css')
    link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/vendor/bootstrap/js/bootstrap.min.js', rel='stylesheet', type='text/css')
  body
    div.container-fluid
      h1 Shifts
      form.col-sm-6(name="shiftEntry", method="post")
        - var dateEntryClasses = (error ? 'form-group has-error has-feedback' : 'form-group')
        div(class=dateEntryClasses)
          label.control-label(for="dateEntry") Event date/times:
          textarea#dateEntry.form-control(
            type="text"
            name="dateEntry"
            placeholder="October 22 2016 from 11:36:21 to 12:34:43"
            rows=7) #{entry}
          span#error-msg.help-block #{error}
        input(type="submit", value="Add to calendar")
      div.col-sm-6
        p Some examples of possible event entries are:
        ul
          li Tomorrow 8 - 10
          li Next Saturday 13 - 16
          li Saturday 8pm - Sunday 3am
